/*Tables for image caption*/
table
{
    width: 100%;
    font-style: italic;
}

table thead tr th img[src$='#center']
{
    display: block; 
    margin: auto; 
}

/*Image orientation*/
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

.responsive_div_top
{
	float: left;
}

.responsive_div_bottom
{
	text-align: right;
}

@media (max-width: 480px) {
	.responsive_div_top
	{
		text-align: center;
		float: none;
	}

	.responsive_div_bottom
	{
		text-align: center;
	}
}

/*Overflow in title wrap under itself*/
#postsByDate li {
  display: flex;            /* keep date and title side by side */
  align-items: flex-start;  /* align at top */
  margin-bottom: 1em;       /* increase space between posts */
}

#postsByDate .date {
  flex: 0 0 80px;           /* fixed width for date column */
  margin-right: 1em;        /* space between date and title */
  text-align: right;        /* aligns date nicely */
  font-size: 1.1em;         /* increase title size */
}

#postsByDate .title {
  flex: 1;                  /* title takes remaining space */
  font-size: 1.1em;         /* increase title size */
  line-height: 1.4;         /* improves readability */
  word-wrap: break-word;    /* wrap long titles */
}
