<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="description"
    content="{{ .Site.Params.description }}"
  />
  
  <!-- ###          POSSIBLE SEO IMPROVEMENT         ###
       ### REQUIRES SETTING DESCRIPTION IN EACH PAGE ###
       
	{{- if .IsHome -}}
	  <meta name="description" content="{{ site.Params.Description }}" />
	{{- else -}}
	  <meta name="description" content="{{ .Params.Description }}" />
	{{- end }}  
  -->
  
  
  {{ if (eq .Title .Site.Title) }}
    {{ with $title := .Title }}
      <title>{{ . }}</title>
    {{ end }}
  {{ else }}
  
  
  {{ if (lt (len .Title) 4) }}

    {{ with $title := printf "%s | %s" (upper .Title) .Site.Title }}
      
      	<title> {{ . }} </title>
      {{ end }}
    {{ else }}
    {{ with $title := printf "%s | %s"  .Title .Site.Title }}
      
      	<title> {{ . }} </title>
      {{ end }}
    {{ end }}
  {{ end }}
  <link rel="stylesheet" href="{{ "css/reset.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/font.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/smigle.css" | relURL }}"/>
  {{ range .Site.Params.customStylesheets }}
    <link rel="stylesheet" href="{{ . | relURL }}"/>
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  

	{{- if .IsHome -}}
		<meta name="og:title" content="{{ site.Title }}" />
		<meta name="twitter:title" content="{{ site.Title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="{{ site.Params.Description }}" />
		<meta property="og:url" content="{{ site.BaseURL }}" />
		<meta name="og:image" content="{{ site.Params.image }}" />
		<meta name="twitter:image" content="{{ site.Params.image }}" />
		
		{{- else -}}
		<meta name="og:title" content="{{ .Page.Title }}" />
		<meta name="twitter:title" content="{{ .Page.Title }}" />
		<meta property="og:url" content="{{ .Page.Permalink }}" />
		<meta property="og:description" content="{{ .Params.Description }}" />
		{{- if isset .Params "image" -}}
			<meta name="og:image" content="{{ .Params.image }}" />
			<meta name="twitter:image" content="{{ .Params.image }}" />
		{{- else -}}
			<meta name="og:image" content="{{ site.Params.image }}" />
			<meta name="twitter:image" content="{{ site.Params.image }}" />
		{{- end -}}
	{{- end -}}
	
	
	

</head>
