{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1 style="color:#A9A9B3">{{ .Site.Title }}</h1>
            <p style="text-align:right">
		    {{- with .Site.Params.homeSubtitle }}
		        {{. }}
		    {{- end }}
		    {{- with .Site.Params.homeSubtitle_b }}
		       <b> {{. }} </b><br>
		    {{- end }}
		    
		    {{- with .Site.Params.homeSubtitle2_b }}
		       <b> {{. }} </b><br>
		    {{- end }}
	 
		    {{- with .Site.Params.homeSubtitle3 }}
		    	{{.}}
		    {{- end }}
		    {{- with .Site.Params.homeSubtitle3_b }}
		       <b> {{. }} </b><br>
		    {{- end }}
		    
		    {{- with .Site.Params.homeSubtitle4 }}
		    	{{.}} <br>
		    {{- end }}
	    </p>
            

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            
            <br>
            <div><a href="https://lessonsec.com/posts/"><code>Go to posts &#10140;</code></a></div>
        </div>
    </main>
{{ end }}
